.calculator{
    width: 400px;
    border: 5px red solid;
}
.calcrow{
    display: flex;
    background-color: black;
    justify-content: space-between;
    margin-bottom: 0.5%;
   
}
section{
    background-color: black;
    color: white;
    text-align: right;
    padding: 20px 10px;
    font-size: 40px;
    
}
.calcbutton{
    background-color: #d8d9db;
    font-size: 40px;
    flex-basis: 24.5%;
}
.tripple{
    flex-basis: 75%;
}
.double{
    flex-basis: 49%;
}
.sign{
    background-color: orange;
}
.sign:hover{
    background-color: #dfb07e;
}
.name:hover{
    background-color: #ebebeb;
}
